einops==0.6.1
roma
timm
scipy
numpy<2
matplotlib
pillow
tqdm
opencv-python-headless
supervision
Cython
loguru
yacs
trimesh
smplx
pyrender
scikit-image
transformers==4.57.0
peft
accelerate
huggingface-hub
qwen-vl-utils
pytorch-lightning
tensorboard
tyro
